<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

    <nav>
        <div><strong>Java Notes</strong></div>
        <div>
            <a href="/index.html">Home</a>
            <a href="/projects.html">Projects</a>
            <a href="/notes">Notes</a>
        </div>
    </nav>

    <section class="section">

        {{ content }}
        
    </section>

</div>

</body>
</html>